// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sidebar {
    line-height:30px;
    height:300px;
    width:350px;
    float:right;
    padding:5px;	      
}