<div class= "col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Editing Cast</h1>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
|
        <%= link_to 'Back', movie_path(@movie), class: "btn btn-default" %>
        <a href="/movies/<%= @movie.id %>" data-method="delete" rel="nofollow" data-confirm="Are you sure?" class="btn btn-default" role="button">Delete</a>
      </div>
    </div>
  </div>
</div>